* {
  box-sizing: border-box;
}
body {
  background-color: #05215a;
  margin: 0;
  overflow: overlay;
}
@font-face {
  font-family: "chemical";
  src: url("../Fonts/CHEMICAL.ttf") format("truetype");
}
@font-face {
  font-family: montserrat;
  src: url("../Fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}
@font-face {
  font-family: acme;
  src: url("../Fonts/Acme/Acme-Regular.ttf") format("truetype");
}
/* LOADER */
.preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 9999;
  background-image: radial-gradient(#0a3a9c, #05215a);
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  left: 48%;
  top: 48%;
  position: fixed;
  border: 3px solid;
  box-sizing: border-box;
  border-color: #00ff87 #00ff87 transparent transparent;
  animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #60efff #60efff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation: rotationBack924 0.5s linear infinite;
  transform-origin: center center;
}

.loader::before {
  width: 32px;
  height: 32px;
  border-color: #00ff87 #00ff87 transparent transparent;
  animation: rotation6123 1.5s linear infinite;
}

@keyframes rotation6123 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack924 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}
/* LOADER END */

/* DISPLAY NONE */
#menu {
  display: none;
}
#menu-toggle {
  display: none;
}
/* DISPLAY NONE END */

/* NAVIGATION BAR */
header {
  width: 100%;
  height: 100px;
}
#navbar {
  width: 100%;
  height: 100px;
  background-color: whitesmoke;
  box-shadow: inset -5px -5px 10px #d9d9d9, inset 5px 5px 10px #ffffff;
  position: fixed;
  z-index: 5;
}
#inno-supp {
  width: 100%;
  height: 40px;
  background-color: #05215a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
#inno-supp-span {
  font-family: chemical;
  font-size: 3vmin;
}
#navbar-main {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
#brand-logo {
  width: 200px;
  height: 60px;
}
#brand-logo-a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#brand-logo-img {
  width: 50px;
  height: 100%;
}
#brand-logo-txt {
  width: 140px;
  height: 100%;
}
#nav-elements {
  width: 60%;
  height: 100%;
  font-size: 1vmax;
  font-family: montserrat;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  -webkit-tap-highlight-color: transparent;
}
#nav-elements div {
  cursor: pointer;
}
#home:hover,
#aboutus:hover,
#services:hover,
#products:hover,
#career:hover,
#contact:hover,
#downloads:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}
#product-toggle {
  width: 15vw;
  height: 15vw;
  background-color: #05215a;
  position: absolute;
  z-index: 5;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1vw;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 10px;
}
#product-toggle div:hover {
  background-color: rgb(10, 58, 156);
}
#product-toggle::before {
  content: "";
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, #0a3a9c, #0a3a9c);
  height: 130%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#product-toggle::after {
  content: "";
  position: absolute;
  background: #07182e;
  inset: 5px;
  border-radius: 15px;
}

#product-item-1,
#product-item-2,
#product-item-3 {
  width: 100%;
  height: 100%;
  padding: 10px;
  z-index: 1;
}
#pr-item-a1,
#pr-item-a2,
#pr-item-a3 {
  width: 100%;
  height: auto;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: white;
}
#nav-end {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
#gmail-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#phone-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#gmail-icon:hover,
#phone-icon:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}

/* NAVIGATION END */

/* CATEGORY SECTION */
#category-heading {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#cat-img {
  width: 100%;
  height: 27vw;
  opacity: 0.4;
}
#image-cat {
  width: 100%;
  height: 27vw;
}
#category-text {
  width: 100%;
  height: 10vw;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30vw;
  color: white;
  font-family: montserrat;
}
#span-cat-text a {
  text-decoration: none;
  color: white;
}
#category-span {
  width: 20vw;
  height: auto;
  font-family: acme;
  color: white;
  font-size: 4vw;
}
#span-cat-text {
  font-size: 1.2vw;
}
/* CATEGORY SECTION END */
/* SEARCH BAR */
#search-bar {
  width: 100%;
  height: 70px;
  background-color: #06286d;
  top: 100px;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
#input-tag {
  width: 70%;
  height: 100%;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 20px;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
::placeholder {
  color: white;
}
#search-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
/* SEARCH BAR END */
/* CHEMICAL INFO */
#chem-info {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(45deg, #ffffff00, #1fbed3);
}
#chem-description {
  width: 320px;
  height: 550px;
  background-image: linear-gradient(
    to top,
    rgba(68, 0, 255, 0),
    rgb(255, 255, 255)
  );
  display: flex;
  flex-direction: column;
}
#chem-details {
  width: 100%;
  height: 550px;
  color: white;
  font-family: montserrat;
  overflow: scroll;
}
#chem-details::-webkit-scrollbar-button{
  background-color: transparent;
  color: transparent;
}
#chem {
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(45deg, #ffffff00, #1fbed3); */
}
#chem-h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  font-weight: bolder;
  margin: 0;
  padding-top: 30px;
  padding-left: 40px;
}
#chem-table {
  width: 150px;
  height: 60px;
  margin-left: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 13px;
}
#mf {
  font-weight: 600;
}
#formula {
  font-weight: 200;
  font-size: 16px;
}

#chem-table-1 {
  width: 96%;
  height: auto;
  text-align: left;
  font-size: 18px;
}
#tbody-1 {
  display: flex;
  flex-wrap: wrap;
  border-spacing: 15px;
}
#th1,
#th2,
#th4,
#th5 {
  width: 160px;
}
#th3 {
  width: 180px;
}
#td1,
#td2,
#td3,
#td4,
#td5 {
  font-family: acme;
  color: #101756;
}
#chem-img {
  width: 100%;
  height: 176px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#chem-img img {
  width: 180px;
  height: 100%;
}
hr {
  margin-top: 10px;
}
#grade-packing-div {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

#gp-pr,
#gp-pr-1,
#gp-pr-2 {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
#pointer,
#pointer1,
#pointer2 {
  width: 90%;
  height: auto;
  position: relative;
  background-image: linear-gradient(45deg, #03011ea8, transparent);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}
#info-icon {
  width: 20px;
  height: 20px;
}

#gp-slider-usp {
  width: 100%;
  height: 250px;
  background-color: #05215a;
  display: none;
  border-radius: 10px;
  margin-top: 10px;
}
#gp-slider-usp-table tr:nth-child(even) {
  background-color: #09348a;
}
#gp-slider-phur-table tr:nth-child(even) {
  background-color: #09348a;
}
#gp-slider-bp-table tr:nth-child(even) {
  background-color: #09348a;
}
#gp-slider-usp-table,
#gp-slider-phur-table,
#gp-slider-bp-table {
  width: 100%;
  height: 100%;
  text-align: center;
  border-collapse: collapse;
}
#gp-slider-usp-table th,
#gp-slider-phur-table th,
#gp-slider-bp-table th {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
}
#gp-slider-phur {
  width: 100%;
  height: 250px;
  background-color: #05215a;
  display: none;
  border-radius: 10px;
  margin-top: 10px;
}
#gp-slider-bp {
  width: 100%;
  height: 250px;
  background-color: #05215a;
  display: none;
  border-radius: 10px;
  margin-top: 10px;
}
#document-txt {
  width: 100%;
  height: 20px;
}
#document-txt p {
  margin: 0;
  font-family: montserrat;
  text-align: center;
  margin-right: 105px;
  font-size: 15px;
  font-weight: bolder;
}
#documents-list {
  width: 100%;
  height: 155px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#documents-list div p {
  margin: 0;
}
#doc-row-1 {
  width: 200px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-family: montserrat;
  margin-left: 20px;
}
#doc-row-1 a,
#doc-row-2 a,
#doc-row-3 a,
#doc-row-4 a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: black;
}
#doc-row-2 {
  width: 200px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-family: montserrat;
  margin-left: 20px;
}
#doc-row-3 {
  width: 200px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-family: montserrat;
  margin-left: 20px;
}
#doc-row-4 {
  width: 200px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: montserrat;
  margin-left: 20px;
}
#doc-row-1 img,
#doc-row-2 img,
#doc-row-3 img,
#doc-row-4 img {
  width: 20px;
  height: 20px;
}
#doc-row-1 p {
  margin: 0;
}
#safety-symbols {
  width: 100%;
  height: 100%;
  font-family: montserrat;
  text-align: center;
}
#safety-symbols h2 {
  width: 300px;
  text-align: center;
  margin: 10px;
}
#safety-symbols img {
  width: 100px;
  height: 100px;
}
/* CHEMICAL INFO END */
