* {
  box-sizing: border-box;
}
body {
  background-color: #05215a;
}
@font-face {
  font-family: "chemical";
  src: url("../Fonts/CHEMICAL.ttf") format("truetype");
}
@font-face {
  font-family: "plex-mono";
  src: url("../Fonts/IBM_Plex_Mono/IBMPlexMono-Medium.ttf") format("truetype");
}
@font-face {
  font-family: montserrat;
  src: url("../Fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}
@font-face {
  font-family: montserrat-bold;
  src: url("../Fonts/Montserrat/static/Montserrat-ExtraBold.ttf")
    format("truetype");
}
@font-face {
  font-family: acme;
  src: url("../Fonts/Acme/Acme-Regular.ttf") format("truetype");
}
@font-face {
  font-family: robot;
  src: url("../Fonts/Roboto_Mono/static/RobotoMono-SemiBold.ttf")
    format("truetype");
}

#preloader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 9999;
  background-image: radial-gradient(#0a3a9c, #05215a);
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  position: fixed;
  border: 3px solid;
  box-sizing: border-box;
  border-color: #00ff87 #00ff87 transparent transparent;
  animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #60efff #60efff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation: rotationBack924 0.5s linear infinite;
  transform-origin: center center;
}

.loader::before {
  width: 32px;
  height: 32px;
  border-color: #00ff87 #00ff87 transparent transparent;
  animation: rotation6123 1.5s linear infinite;
}

@keyframes rotation6123 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack924 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

/* DISPLAY NONE */

#menu {
  display: none;
}
#menu-toggle {
  display: none;
}
/* DISPLAY NONE END */

#navbar {
  width: 100%;
  height: 100px;
  background-color: whitesmoke;
  box-shadow: inset -5px -5px 10px #d9d9d9, inset 5px 5px 10px #ffffff;
  position: fixed;
  z-index: 5;
}
#inno-supp {
  width: 100%;
  height: 40px;
  background-color: #05215a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
#inno-supp-span {
  font-family: chemical;
  font-size: 3vmin;
}
#navbar-main {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
#brand-logo {
  width: 200px;
  height: 60px;
}
#brand-logo-a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#brand-logo-img {
  width: 50px;
  height: 100%;
}
#brand-logo-txt {
  width: 140px;
  height: 100%;
}
#nav-elements {
  width: 60%;
  height: 100%;
  font-size: 1vmax;
  font-family: montserrat;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
#nav-elements div {
  cursor: pointer;
}
#home:hover,
#aboutus:hover,
#services:hover,
#products:hover,
#career:hover,
#contact:hover,
#downloads:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}
#product-toggle {
  width: 200px;
  height: 240px;
  background-color: #05215a;
  position: absolute;
  z-index: 5;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 10px;
}
#product-toggle div:hover {
  background-color: rgb(10, 58, 156);
}
#product-toggle::before {
  content: "";
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, #0a3a9c, #0a3a9c);
  height: 130%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#product-toggle::after {
  content: "";
  position: absolute;
  background: #07182e;
  inset: 5px;
  border-radius: 15px;
}

#product-item-1,
#product-item-2,
#product-item-3 {
  width: 100%;
  height: 80px;
  padding: 10px;
  z-index: 1;
}
#nav-end {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
#gmail-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#phone-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#gmail-icon:hover,
#phone-icon:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}
#carousel {
  width: 100%;
  height: 700px;
}
#main-carousel {
  width: 100%;
  height: 700px;
}
.carousel-cell {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#carousel-cell-img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  object-position: top;
  top: 0;
  filter: brightness(60%);
}
#overlay,
#overlay1,
#overlay2 {
  width: 100%;
  height: 700px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
  gap: 20px;
}
#overlay-text,
#overlay-text-2,
#overlay-text-5 {
  width: 100%;
  height: auto;
  font-size: 4vw;
  font-family: acme;
  font-weight: bold;
  margin-left: 90px;
}
#overlay-text-1,
#overlay-text-3,
#overlay-text-6 {
  width: 100%;
  height: auto;
  font-size: 1.5vw;
  font-family: montserrat;
  margin-left: 90px;
}
#overlay-btn-div,
#overlay-btn-div1,
#overlay-btn-div2 {
  width: 100%;
  height: 60px;
  font-family: acme;
}
#overlay-button,
#overlay-button-1,
#overlay-button-2 {
  width: 14vmax;
  height: 4vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 90px;
  border: none;
  background-color: #05215a;
  color: white;
  border-radius: 10px;
  font-size: 1.5vw;
  box-shadow: inset -6px -6px 12px #020f28, inset 6px 6px 12px #08338c;
}
#overlay-button:hover,
#overlay-button-1:hover,
#overlay-button-2:hover {
  box-shadow: inset -6px -6px 12px #08338c, inset 6px 6px 12px #020f28;
}
#overlay-button:active,
#overlay-button-1:active,
#overlay-button-2:active {
  box-shadow: inset -6px -6px 12px #020f28, inset 6px 6px 12px #08338c;
}
#overlay-button-img {
  width: 2vw;
  height: 2vw;
}
#wrap {
  width: 100%;
  height: 300px;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  z-index: 2;
  margin-top: -75px;
}
#wave {
  width: 4500px;
  height: 4500px;
  border-radius: 2200px;
  margin-top: 20px;
  margin-left: -1900px;
  background-color: #05215a;
  animation: wave 6s infinite linear;
  z-index: 1;
}
#wave2 {
  width: 3000px;
  height: 3000px;
  border-radius: 1400px;
  background-color: rgb(6, 43, 116);
  position: absolute;
  margin-top: 40px;
  margin-left: -800px;
  transform: rotate(45deg);
  animation: wave 12s infinite linear;
}
#wave3 {
  width: 3000px;
  height: 3000px;
  border-radius: 1400px;
  background-color: rgb(10, 58, 156);
  position: absolute;
  margin-top: 40px;
  margin-left: -200px;
  transform: rotate(45deg);
  animation: wave 14s infinite linear;
}
@keyframes wave {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
#company-text {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  gap: 50px;
  padding: 0px 90px 0px 90px;
}
#text-comp {
  width: 41vw;
  font-size: 2vw;
  color: white;
  font-family: acme;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#text-comp h1 {
  width: 100%;
  height: auto;
}
#text-comp p {
  font-size: 15px;
  font-family: montserrat;
  font-weight: 400;
  line-height: 25px;
}
#img-comp {
  width: 45vw;
  height: 45vw;
}
#factory-img {
  width: 45vw;
  height: 45vw;
  /* border-radius: 30px; */
  /* -webkit-box-shadow: 1px 9px 39px 4px rgba(0, 0, 0, 0.76); */
  /* box-shadow: 1px 9px 39px 4px rgba(0, 0, 0, 0.76); */
}
#btn-comp {
  width: 200px;
  height: 60px;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: rgb(6, 43, 116);
  box-shadow: inset 0px 0px 27px 3px #001332;
}
