@media screen and (max-width: 600px) {
  * {
    box-sizing: border-box;
  }
  body {
    background-color: #05215a;
  }
  @font-face {
    font-family: "chemical";
    src: url("../Fonts/CHEMICAL.ttf") format("truetype");
  }
  @font-face {
    font-family: "plex-mono";
    src: url("../Fonts/IBM_Plex_Mono/IBMPlexMono-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: montserrat;
    src: url("../Fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
      format("truetype");
  }
  @font-face {
    font-family: montserrat-bold;
    src: url("../Fonts/Montserrat/static/Montserrat-ExtraBold.ttf")
      format("truetype");
  }
  @font-face {
    font-family: acme;
    src: url("../Fonts/Acme/Acme-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: robot;
    src: url("../Fonts/Roboto_Mono/static/RobotoMono-SemiBold.ttf")
      format("truetype");
  }

  /* DISPLAY NONE */
  #nav-elements {
    display: none;
  }
  /* DISPLAY NONE END */

  /* NAVIGATION BAR */

  #navbar {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 5;
  }
  #inno-supp {
    width: 100%;
    height: 40px;
    background-color: #05215a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: chemical;
  }
  #inno-supp-span {
    font-size: 3vmin;
    font-family: chemical;
  }
  #navbar-main {
    width: 100%;
    height: 60px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  #brand-logo {
    width: 200px;
    height: 60px;
  }
  #brand-logo-a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }
  #brand-logo-img {
    width: 50px;
    height: 100%;
  }
  #brand-logo-txt {
    width: 140px;
    height: 100%;
  }
  #nav-end {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  #gmail-icon {
    width: 30px;
    height: 30px;
  }
  #phone-icon {
    width: 30px;
    height: 30px;
  }
  #menu {
    width: 50px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #menu-icon {
    width: 30px;
    height: 30px;
  }
  #menu-toggle {
    width: 100%;
    height: 300px;
    display: none;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: space-evenly;
    line-height: 25px;
    z-index: 4;
    margin-top: 100px;
    font-family: montserrat;
    color: white;
    background-color: #05215a;
  }
  #carousel {
    width: 100%;
    height: 500px;
  }
  .main-carousel {
    width: 100%;
    height: 500px;
  }
  .carousel-cell {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }
  #carousel-cell-img {
    width: 100%;
    height: 400px;
    filter: brightness(60%);
  }
  #overlay,
  #overlay1,
  #overlay2 {
    width: 100%;
    height: 250px;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
  }
  #overlay-text,
  #overlay-text-5 {
    width: 100%;
    height: 50px;
    font-size: 30px;
    font-family: acme;
    text-align: center;
  }
  #overlay-text-2 {
    width: 100%;
    height: 100px;
    font-size: 25px;
    font-family: acme;
    text-align: center;
  }
  #overlay-text-1,
  #overlay-text-3,
  #overlay-text-6 {
    width: 100%;
    height: auto;
    font-size: 15px;
    font-family: montserrat;
    text-align: center;
  }
  #overlay-btn-div,
  #overlay-btn-div1,
  #overlay-btn-div2 {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #overlay-button,
  #overlay-button-1,
  #overlay-button-2 {
    width: 150px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 10px;
    color: white;
    margin: 0;
    background-color: rgb(4, 63, 126);
  }
  #overlay-button-img {
    width: 20px;
    height: 20px;
  }
}
