* {
  box-sizing: border-box;
}
body {
  background-color: #05215a;
  margin: 0;
}
@font-face {
  font-family: "chemical";
  src: url("../Fonts/CHEMICAL.ttf") format("truetype");
}
@font-face {
  font-family: montserrat;
  src: url("../Fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}
@font-face {
  font-family: acme;
  src: url("../Fonts/Acme/Acme-Regular.ttf") format("truetype");
}
/* LOADER */
.preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 9999;
  background-image: radial-gradient(#0a3a9c, #05215a);
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  left: 48%;
  top: 48%;
  position: fixed;
  border: 3px solid;
  box-sizing: border-box;
  border-color: #00ff87 #00ff87 transparent transparent;
  animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #60efff #60efff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation: rotationBack924 0.5s linear infinite;
  transform-origin: center center;
}

.loader::before {
  width: 32px;
  height: 32px;
  border-color: #00ff87 #00ff87 transparent transparent;
  animation: rotation6123 1.5s linear infinite;
}

@keyframes rotation6123 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack924 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}
/* LOADER END */

/* DISPLAY NONE */
#menu {
  display: none;
}
#menu-toggle {
  display: none;
}
/* DISPLAY NONE END */

/* NAVIGATION BAR */
#navbar {
  width: 100%;
  height: 100px;
  background-color: whitesmoke;
  box-shadow: inset -5px -5px 10px #d9d9d9, inset 5px 5px 10px #ffffff;
  position: fixed;
  z-index: 5;
}
#inno-supp {
  width: 100%;
  height: 40px;
  background-color: #05215a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
#inno-supp-span {
  font-family: chemical;
  font-size: 3vmin;
}
#navbar-main {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
#brand-logo {
  width: 200px;
  height: 60px;
}
#brand-logo-a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#brand-logo-img {
  width: 50px;
  height: 100%;
}
#brand-logo-txt {
  width: 140px;
  height: 100%;
}
#nav-elements {
  width: 60%;
  height: 100%;
  font-size: 1vmax;
  font-family: montserrat;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  -webkit-tap-highlight-color: transparent;
}
#nav-elements div {
  cursor: pointer;
}
#home:hover,
#aboutus:hover,
#services:hover,
#products:hover,
#career:hover,
#contact:hover,
#downloads:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}
#product-toggle {
  width: 15vw;
  height: 15vw;
  background-color: #05215a;
  position: absolute;
  z-index: 5;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1vw;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 10px;
}
#product-toggle div:hover {
  background-color: rgb(10, 58, 156);
}
#product-toggle::before {
  content: "";
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, #0a3a9c, #0a3a9c);
  height: 130%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#product-toggle::after {
  content: "";
  position: absolute;
  background: #07182e;
  inset: 5px;
  border-radius: 15px;
}

#product-item-1,
#product-item-2,
#product-item-3 {
  width: 100%;
  height: 100%;
  padding: 10px;
  z-index: 1;
}
#pr-item-a1,
#pr-item-a2,
#pr-item-a3 {
  width: 100%;
  height: auto;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: white;
}
#nav-end {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
#gmail-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#phone-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#gmail-icon:hover,
#phone-icon:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}
#contact a{
  text-decoration: none;
  color: black;
}
#home a{
  text-decoration: none;
  color: black;
}
/* NAVIGATION END */

/* CAROUSEL  */
#carousel {
  width: 100%;
  height: 700px;
}
#main-carousel {
  width: 100%;
  height: 700px;
}
.carousel-cell {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#carousel-cell-img,
#carousel-cell-img1,
#carousel-cell-img2 {
  width: 100%;
  height: 700px;
  object-fit: cover;
  object-position: top;
  top: 0;
  filter: brightness(60%);
}
#overlay,
#overlay1,
#overlay2 {
  width: 100%;
  height: 700px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
  gap: 20px;
}
#overlay-text,
#overlay-text-2,
#overlay-text-5 {
  width: 100%;
  height: auto;
  font-size: 4vw;
  font-family: acme;
  font-weight: bold;
  margin-left: 90px;
}
#overlay-text-1,
#overlay-text-3,
#overlay-text-6 {
  width: 100%;
  height: auto;
  font-size: 1.5vw;
  font-family: montserrat;
  margin-left: 90px;
}
#overlay-btn-div,
#overlay-btn-div1,
#overlay-btn-div2 {
  width: 100%;
  height: 60px;
  font-family: acme;
}
#overlay-button,
#overlay-button-1,
#overlay-button-2 {
  width: 14vmax;
  height: 4vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 90px;
  border: none;
  background-color: #05215a;
  color: white;
  border-radius: 10px;
  font-size: 1.5vw;
  font-family: acme;
  box-shadow: 2px 2px 0px #02112eba, -2px -2px 0px #05215a;
}
/* #overlay-button:hover,
#overlay-button-1:hover,
#overlay-button-2:hover {
  box-shadow: inset 5px 5px 9px #02112e, inset -5px -5px 9px #0a45ba;
} */
#overlay-button:active,
#overlay-button-1:active,
#overlay-button-2:active {
  box-shadow: inset 4px 4px 0px #02112e, inset -4px -4px 0px #0a45ba;
}
#overlay-button-img,
#overlay-button-img1,
#overlay-button-img2 {
  width: 2vw;
  height: 2vw;
}

/* CAROUSEL END */

/* WAVY BCGRND */
#wrap {
  width: 100%;
  height: 300px;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  z-index: 2;
  margin-top: -75px;
}
#wave {
  width: 4500px;
  height: 4500px;
  border-radius: 2200px;
  margin-top: 20px;
  margin-left: -1900px;
  background-color: #05215a;
  animation: wave 6s infinite linear;
  z-index: 1;
}
#wave2 {
  width: 3000px;
  height: 3000px;
  border-radius: 1400px;
  background-color: rgb(6, 43, 116);
  position: absolute;
  margin-top: 40px;
  margin-left: -800px;
  transform: rotate(45deg);
  animation: wave 12s infinite linear;
}
#wave3 {
  width: 3000px;
  height: 3000px;
  border-radius: 1400px;
  background-color: rgb(10, 58, 156);
  position: absolute;
  margin-top: 40px;
  margin-left: -200px;
  transform: rotate(45deg);
  animation: wave 14s infinite linear;
}
@keyframes wave {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* WAVY BGRND END */

/* COMPANY TXT */
#company-text {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  gap: 50px;
  padding: 0px 90px 0px 90px;
}
#text-comp {
  width: 41vw;
  font-size: 2vw;
  color: white;
  font-family: acme;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#text-comp h1 {
  width: 100%;
  height: auto;
}
#text-comp p {
  font-size: 15px;
  font-family: montserrat;
  font-weight: 400;
  line-height: 25px;
}
#img-comp {
  width: 45vw;
  height: 45vw;
}
#factory-img {
  width: 45vw;
  height: 45vw;
}

/* From uiverse.io */
button {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  -webkit-transition: -webkit-filter 250ms;
  transition: -webkit-filter 250ms;
  transition: filter 250ms;
  transition: filter 250ms, -webkit-filter 250ms;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
  -webkit-transition: -webkit-transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  transition: -webkit-transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1),
    -webkit-transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(rgb(0, 1, 82)),
    color-stop(8%, rgb(24, 0, 163)),
    color-stop(92%, rgb(24, 0, 163)),
    to(rgb(0, 1, 82))
  );
  background: linear-gradient(
    to left,
    rgb(0, 1, 82) 0%,
    rgb(24, 0, 163) 8%,
    rgb(24, 0, 163) 92%,
    rgb(0, 1, 82) 100%
  );
}
.front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  font-family: acme;
  background: #0136a1;
  will-change: transform;
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
  -webkit-transition: -webkit-transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  transition: -webkit-transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1),
    -webkit-transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
button:hover {
  -webkit-filter: brightness(110%);
  filter: brightness(110%);
}
button:hover .front {
  -webkit-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  transition: -webkit-transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5),
    -webkit-transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
button:active .front {
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
  -webkit-transition: -webkit-transform 34ms;
  transition: -webkit-transform 34ms;
  transition: transform 34ms;
  transition: transform 34ms, -webkit-transform 34ms;
}
button:hover .shadow {
  -webkit-transform: translateY(4px);
  -ms-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  transition: -webkit-transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5),
    -webkit-transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
button:active .shadow {
  -webkit-transform: translateY(1px);
  -ms-transform: translateY(1px);
  transform: translateY(1px);
  -webkit-transition: -webkit-transform 34ms;
  transition: -webkit-transform 34ms;
  transition: transform 34ms;
  transition: transform 34ms, -webkit-transform 34ms;
}
button:focus:not(:focus-visible) {
  outline: none;
}

/* COMAPNY TXT END */

/* WHO WE R */
#who-we-r {
  width: 100%;
  height: 30vw;
}
#who-we-r-img {
  width: 100%;
  height: 30vw;
  z-index: 1;
  margin-top: 80px;
  background-color: #001b4f;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#who-we-r-header {
  font-size: 4vw;
  font-family: acme;
  color: white;
}
#who-we-r-footer {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
#col-1 {
  width: 25%;
  height: 15vw;
  display: flex;
  background-color: #0a2364;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: 0px 0px 10px 5px rgb(40 75 156);
  border-radius: 20px;
}
#col-1-img {
  width: 15vw;
  height: 15vw;
}
#col-1-p {
  width: 100%;
  font-size: 1.2vw;
  font-family: montserrat;
}
#col-1-p strong {
  font-size: 4vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#col-2 {
  width: 25%;
  height: 15vw;
  display: flex;
  background-color: #0a2364;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: 0px 0px 10px 5px rgb(40 75 156);
  border-radius: 20px;
}
#col-2-img {
  width: 15vw;
  height: 15vw;
}
#col-2-p {
  width: 100%;
  font-size: 1.2vw;
  font-family: montserrat;
  padding: 1vw;
}
#col-2-p strong {
  font-size: 4vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#col-3 {
  width: 25%;
  height: 15vw;
  background-color: #0a2364;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: 0px 0px 10px 5px rgb(40 75 156);
  border-radius: 20px;
}
#col-3-img {
  width: 15vw;
  height: 15vw;
}
#col-3-p {
  width: 100%;
  font-size: 1.2vw;
  font-family: montserrat;
}
#col-3-p strong {
  font-size: 4vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* WHO WE R */

/* RCNT EVNT */
#rcnt-evnt {
  width: 100%;
  height: 58vw;
  background-color: #05215a;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
#rcnt-evnt-txt {
  width: 100%;
  text-align: center;
  font-size: 4vw;
  font-family: acme;
}
#rcnt-evnt-cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: static;
  margin-top: 50px;
  gap: 30px;
}
#card-1 {
  width: 28vw;
  height: 42vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #092968;
  border-radius: 20px;
  box-shadow: inset 0px 0px 27px 3px rgba(10, 87, 219, 0.523);
  font-family: acme;
}
#card-1-img {
  width: 28vw;
  height: 20vw;
  border-radius: 20px;
}
#card-1-h5 {
  width: 100%;
  height: auto;
  font-size: 1.2vw;
  text-align: center;
  margin-top: 10px;
}
#card-1-p {
  font-family: montserrat;
  font-size: 1.2vw;
  margin: 15px;
  text-align: center;
}
#card-1-btn {
  width: 12vw;
  height: 4vw;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: #062b74;
  box-shadow: 5px 5px 9px #02112e, -5px -5px 5px #052463b8;
  font-size: 1.4vw;
  margin: 10px;
  font-family: acme;
}
#card-1-btn:active {
  box-shadow: inset 5px 5px 9px #02112e, inset -5px -5px 9px #0a45ba;
}
#card-1-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#card-2 {
  width: 28vw;
  height: 42vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #092968;
  border-radius: 20px;
  box-shadow: inset 0px 0px 27px 3px rgba(10, 87, 219, 0.523);
  font-family: acme;
}
#card-2-img {
  width: 28vw;
  height: 20vw;
  border-radius: 20px;
}
#card-2-h5 {
  width: 100%;
  height: auto;
  font-size: 1.2vw;
  text-align: center;
  margin-top: 10px;
}
#card-2-p {
  font-family: montserrat;
  font-size: 1.2vw;
  margin: 10px;
  text-align: center;
}
#card-2-btn {
  width: 12vw;
  height: 4vw;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: rgb(6, 43, 116);
  box-shadow: 5px 5px 9px #02112e, -5px -5px 5px #052463b8;
  font-size: 1.4vw;
  margin: 10px;
  font-family: acme;
}
#card-2-btn:active {
  box-shadow: inset 5px 5px 9px #02112e, inset -5px -5px 9px #0a45ba;
}
#card-2-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#card-3 {
  width: 28vw;
  height: 42vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #092968;
  border-radius: 20px;
  box-shadow: inset 0px 0px 27px 3px rgba(10, 87, 219, 0.523);
  font-family: acme;
}
#card-3-img {
  width: 28vw;
  height: 20vw;
  border-radius: 20px;
}
#card-3-h5 {
  width: 100%;
  height: auto;
  font-size: 1.2vw;
  text-align: center;
  margin-top: 10px;
}
#card-3-p {
  font-family: montserrat;
  font-size: 1.2vw;
  margin: 15px;
  text-align: center;
}
#card-3-btn {
  width: 12vw;
  height: 4vw;
  color: white;
  border: none;
  border-radius: 1vw;
  background-color: rgb(6, 43, 116);
  box-shadow: 5px 5px 9px #02112e, -5px -5px 5px #052463b8;
  font-size: 1.4vw;
  margin: 10px;
    font-family: acme;
}
#card-3-btn:active {
  box-shadow: inset 5px 5px 9px #02112e, inset -5px -5px 9px #0a45ba;
}
#card-3-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* RCNT EVNT END */

/* CLIENT TESTIMONIAL */
#client-test {
  width: 100%;
  height: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  background-color: #06276a;
}
#client-test-text {
  width: 100%;
  text-align: center;
  font-size: 4.5vw;
  color: white;
  font-family: acme;
  margin-top: 50px;
}
.carousel-1 {
  width: 80vw;
  height: 20vw;
  color: white;
}
#carousel-cell-1 {
  width: 100%;
  height: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#carousel-cell-1-h5 {
  font-size: 3vw;
  font-family: acme;
}
#carousel-cell-1-para {
  font-size: 1.4vw;
  font-family: montserrat;
  text-align: center;
}
#carousel-cell-2 {
  width: 100%;
  height: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#carousel-cell-2-h5 {
  font-size: 3vw;
  font-family: acme;
}
#carousel-cell-2-para {
  font-size: 1.4vw;
  font-family: montserrat;
  text-align: center;
}
#carousel-cell-3 {
  width: 100%;
  height: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#carousel-cell-3-h5 {
  font-size: 3vw;
  font-family: acme;
}
#carousel-cell-3-para {
  font-size: 1.4vw;
  font-family: montserrat;
  text-align: center;
}
/* CLIENT TESTIMONIAL END */

/* MAJOR CUSTOMER */
.major-customer {
  width: 100%;
  height: 30vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#major-customer-text {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
#major-customer-h5 {
  font-size: 4vw;
  font-family: acme;
  color: white;
}
.cust-carousel {
  width: 80vw;
  height: 15vw;
  margin-top: 50px;
  border-radius: 20px;
}
#comp-img,
#comp-img2,
#comp-img3,
#comp-img4,
#comp-img5,
#comp-img6,
#comp-img7,
#comp-img8 {
  width: 14vw;
  height: 9vw;
}
#company-name-1 {
  width: 20vw;
  height: 15vw;
  background-color: rgb(193, 217, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
#company-name-2 {
  width: 20vw;
  height: 15vw;
  background-color: rgb(193, 217, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
#company-name-3 {
  width: 20vw;
  height: 15vw;
  background-color: rgb(193, 217, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
#company-name-4 {
  width: 20vw;
  height: 15vw;
  background-color: rgb(193, 217, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
#company-name-4 img {
  background-color: rgb(193, 217, 255);
}
#company-name-5 {
  width: 20vw;
  height: 15vw;
  background-color: rgb(193, 217, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
#company-name-6 {
  width: 20vw;
  height: 15vw;
  background-color: rgb(193, 217, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
#company-name-7 {
  width: 20vw;
  height: 15vw;
  background-color: rgb(193, 217, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
#company-name-8 {
  width: 20vw;
  height: 15vw;
  background-color: rgb(193, 217, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

/* MAJOR CUSTOMERS END */

/* FOOTER */
#footer {
  width: 100%;
  height: 25vw;
  background-color: rgba(154, 196, 255, 0.875);
  background-image: radial-gradient(#7daaff, #1c58bf);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  -webkit-box-shadow: inset -20px 19px 21px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset -20px 19px 21px -12px rgba(0, 0, 0, 0.75);
  box-shadow: inset -20px 19px 21px -12px rgba(0, 0, 0, 0.75);
}
#footer-1 {
  width: 30vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#footer-1-img {
  width: 20vw;
  height: 7vw;
  margin-top: 30px;
}
#footer-1-sm {
  width: 100%;
  height: 3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#footer-1-sm img {
  width: 2vw;
  height: 2vw;
}
#footer-2 {
  width: 20vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
}
#footer-title {
  font-family: acme;
  font-weight: 800;
  font-size: 1.5vw;
  margin-top: 30px;
}
#footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: montserrat;
  line-height: 3vw;
  font-size: 1.2vw;
}
#footer-3 {
  width: 25vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
}
#footer-title3 {
  font-family: acme;
  font-weight: 800;
  font-size: 1.5vw;
  margin-top: 30px;
}
#footer-text3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: montserrat;
  line-height: 3vw;
  font-size: 1.2vw;
}
#footer-4 {
  width: 35vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
}
#footer-text4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: montserrat;
  line-height: 2vw;
}
#footer-title4 {
  font-family: acme;
  font-weight: 800;
  font-size: 1.5vw;
  margin-top: 30px;
}
#address1 {
  width: 100%;
  display: flex;
  flex-direction: row;
}
#address1 img {
  width: 2vw;
  height: 2vw;
}
#address1 p {
  font-family: montserrat;
  font-size: 1.2vw;
}
#address1 a{
  padding-top: 16px;
}
#contact-info {
  width: 100%;
  display: flex;
  flex-direction: row;
}
#contact-info img {
  width: 2vw;
  height: 2vw;
  margin-top: 16px;
}
#contact-info p a {
  text-decoration: none;
  color: black;
}
#contact-info p {
  font-family: montserrat;
  font-size: 1.2vw;
}
#footer-mb {
  display: none;
}

/* FOOTER END */

/* COPYRIGHT */
#copyright {
  width: 100%;
  height: 3vw;
  background-color: rgba(16, 67, 150, 0.76);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: montserrat;
  color: white;
}
#copyright span {
  font-size: 1vw;
}
/* COPYRIGHT END */
