@media screen and (max-device-width: 600px) {
  * {
    box-sizing: border-box;
  }
  body {
    background-color: #05215a;
  }
  @font-face {
    font-family: "chemical";
    src: url("../Fonts/CHEMICAL.ttf") format("truetype");
  }
  @font-face {
    font-family: "plex-mono";
    src: url("../Fonts/IBM_Plex_Mono/IBMPlexMono-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: montserrat;
    src: url("../Fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
      format("truetype");
  }
  @font-face {
    font-family: montserrat-bold;
    src: url("../Fonts/Montserrat/static/Montserrat-ExtraBold.ttf")
      format("truetype");
  }
  @font-face {
    font-family: acme;
    src: url("../Fonts/Acme/Acme-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: robot;
    src: url("../Fonts/Roboto_Mono/static/RobotoMono-SemiBold.ttf")
      format("truetype");
  }

  /* DISPLAY NONE */
  #nav-elements {
    display: none;
  }
  #footer-2 {
    display: none;
  }
  #footer-3 {
    display: none;
  }
  /* DISPLAY NONE END */

  /* LOADER */
  .preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 9999;
    background-image: radial-gradient(#0a3a9c, #05215a);
  }
  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    left: 45%;
    top: 48%;
    position: fixed;
    border: 3px solid;
    box-sizing: border-box;
    border-color: #00ff87 #00ff87 transparent transparent;
    animation: rotation 1s linear infinite;
  }
  /* LOADER END */

  /* NAVIGATION BAR */

  #navbar {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 5;
  }
  #inno-supp {
    width: 100%;
    height: 40px;
    background-color: #05215a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: chemical;
  }
  #inno-supp-span {
    font-size: 3vmin;
    font-family: chemical;
  }
  #navbar-main {
    width: 100%;
    height: 60px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  #brand-logo {
    width: 200px;
    height: 60px;
  }
  #brand-logo-a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }
  #brand-logo-img {
    width: 50px;
    height: 100%;
  }
  #brand-logo-txt {
    width: 140px;
    height: 100%;
  }
  #nav-end {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  #gmail-icon {
    width: 30px;
    height: 30px;
  }
  #phone-icon {
    width: 30px;
    height: 30px;
  }
  #menu {
    width: 50px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #menu-icon {
    width: 30px;
    height: 30px;
  }
  #menu-toggle {
    width: 100%;
    height: auto;
    display: none;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: space-evenly;
    line-height: 38px;
    z-index: 4;
    margin-top: 100px;
    font-family: montserrat;
    color: white;
    background-image: radial-gradient(#072f80, #03163b);
  }
  #product-mb-dropdown {
    width: 100%;
    height: 240px;
    background-color: #072f80;
    background-image: radial-gradient(#041c4b, #072f80);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: montserrat;
  }
  #product-list1,
  #product-list2,
  #product-list3 {
    width: 100%;
    text-align: center;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid white;
    padding: 10px;
  }
  #product-list1 a,
  #product-list2 a,
  #product-list3 a {
    text-decoration: none;
    color: white;
  }
  #product-list1 {
    border-top: 0.5px solid white;
  }
  #product-list1:active,
  #product-list2:active,
  #product-list3:active {
    background-color: #05215a;
  }
  /* CAROUSEL */
  #carousel {
    width: 100%;
    height: 400px;
  }
  .main-carousel {
    width: 100%;
    height: 400px;
  }
  .carousel-cell {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }
  #carousel-cell-img,
  #carousel-cell-img1,
  #carousel-cell-img2 {
    width: 100%;
    height: 400px;
    filter: brightness(60%);
  }
  #overlay,
  #overlay1,
  #overlay2 {
    width: 100%;
    height: 250px;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
  }
  #overlay-text,
  #overlay-text-5 {
    width: 100%;
    height: 50px;
    font-size: 30px;
    font-family: acme;
    text-align: center;
    margin: 0;
  }
  #overlay-text-2 {
    width: 100%;
    height: 100px;
    font-size: 25px;
    font-family: acme;
    text-align: center;
    margin: 0;
  }
  #overlay-text-1,
  #overlay-text-3,
  #overlay-text-6 {
    width: 100%;
    height: auto;
    font-size: 15px;
    font-family: montserrat;
    text-align: center;
    margin: 0;
  }
  #overlay-btn-div,
  #overlay-btn-div1,
  #overlay-btn-div2 {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #overlay-button,
  #overlay-button-1,
  #overlay-button-2 {
    width: 150px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 10px;
    color: white;
    margin: 0;
    background-color: #05215a;
    box-shadow: 2px 2px 0px #02112e, -2px -2px 0px #052463;
  }
  #overlay-button:active,
  #overlay-button-1:active,
  #overlay-button-2:active {
    box-shadow: inset 2px 2px 0px #02112e, inset -2px -2px 0px #0a45ba;
  }
  /* #overlay-button:focus,
  #overlay-button-1:focus,
  #overlay-button-2:focus {
    box-shadow: inset -6px -6px 12px #020f28, inset 6px 6px 12px #08338c;
  } */
  #overlay-button-img,
  #overlay-button-img1,
  #overlay-button-img2 {
    width: 20px;
    height: 20px;
  }
  /* CAROUSEL END */

  /* WAVY BCGRND */
  #wrap {
    width: 100%;
    height: 200px;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    z-index: 2;
    margin-top: 30px;
  }
  #wave {
    width: 4500px;
    height: 4500px;
    border-radius: 2200px;
    margin-top: 20px;
    margin-left: -2400px;
    background-color: #05215a;
    animation: wave 6s infinite linear;
    z-index: 1;
  }
  #wave2 {
    width: 3000px;
    height: 3000px;
    border-radius: 1400px;
    background-color: #062b74;
    position: absolute;
    margin-top: 10px;
    margin-left: -800px;
    transform: rotate(45deg);
    animation: wave 10s infinite linear;
  }
  #wave3 {
    width: 3000px;
    height: 3000px;
    border-radius: 1400px;
    background-color: #0a3a9c;
    position: absolute;
    margin-top: 40px;
    margin-left: -200px;
    transform: rotate(45deg);
    animation: wave 14s infinite linear;
  }
  @-webkit-keyframes wave {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
  /* WAVY BCGRND END */
  /* COMAPNY TEXT */
  #company-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0;
  }
  #text-comp {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #text-comp h1 {
    font-family: acme;
    padding: 15px;
  }
  #text-comp p {
    margin-top: 40px;
    padding: 15px;
    font-family: montserrat;
  }
  #btn-comp {
    width: 14vmax;
    height: 4vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #05215a;
    color: white;
    border-radius: 8px;
    font-size: 10px;
    font-family: acme;
    box-shadow: inset -6px -6px 12px #020f28, inset 6px 6px 12px #08338c;
  }
  #btn-comp:active {
    box-shadow: inset -6px -6px 12px #08338c, inset 6px 6px 12px #020f28;
  }
  #img-comp {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #factory-img {
    width: 50vw;
    height: 50vw;
    object-fit: contain;
    margin: 0;
    padding: 0;
  }

  button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: auto;
    touch-action: manipulation;
  }
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      rgb(0, 1, 82) 0%,
      rgb(24, 0, 163) 8%,
      rgb(24, 0, 163) 92%,
      rgb(0, 1, 82) 100%
    );
  }
  .front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: #0136a1;
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  button:active {
    filter: brightness(110%);
  }
  /* button:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  } */
  button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  /* button:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  } */
  button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  button:focus:not(:focus-visible) {
    outline: none;
  }
  /* COMPANY TEXT END */
  /* WHO WE R */
  #who-we-r {
    width: 100%;
    height: auto;
    background: none;
  }
  #who-we-r-img {
    width: 100%;
    height: auto;
    z-index: 1;
    margin: 0;
    background-color: #001b4f;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  #who-we-r-header {
    width: 100%;
    text-align: center;
    font-size: 8vw;
    margin-top: 30px;
    font-family: acme;
    color: white;
  }
  #who-we-r-footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    margin-top: 30px;
  }
  #col-1 {
    width: 80%;
    height: 35vw;
    display: flex;
    background-color: #0a2364;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 0px 0px 10px 5px rgb(40 75 156);
    border-radius: 20px;
  }
  #col-1-img {
    width: 30vw;
    height: 30vw;
  }
  #col-1-p {
    width: 100%;
    font-size: 4vw;
    text-align: center;
    padding: 10px;
  }
  #col-1-p strong {
    font-size: 10vw;
  }
  #col-2 {
    width: 80%;
    height: 35vw;
    display: flex;
    background-color: #0a2364;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 0px 0px 10px 5px rgb(40 75 156);
    border-radius: 20px;
  }
  #col-2-img {
    width: 30vw;
    height: 30vw;
  }
  #col-2-p {
    width: 100%;
    font-size: 4vw;
    text-align: center;
    padding: 10px;
  }
  #col-2-p strong {
    font-size: 10vw;
  }
  #col-3 {
    width: 80%;
    height: 35vw;
    display: flex;
    background-color: #0a2364;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 0px 0px 10px 5px rgb(40 75 156);
    border-radius: 20px;
  }
  #col-3-img {
    width: 30vw;
    height: 30vw;
  }
  #col-3-p {
    width: 100%;
    font-size: 4vw;
    text-align: center;
    padding: 10px;
  }
  #col-3-p strong {
    font-size: 10vw;
  }
  /* WHO WE R END */
  /* RCNT EVNT */
  #rcnt-evnt {
    width: 100%;
    height: auto;
    background-color: #05215a;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  #rcnt-evnt-txt {
    width: 100%;
    text-align: center;
    font-size: 8vw;
    font-family: acme;
  }
  #rcnt-evnt-cards {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: static;
    margin-top: 50px;
    gap: 30px;
  }
  #card-1 {
    width: 85%;
    height: 45vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #092968;
    border-radius: 8px;
    box-shadow: inset 0px 0px 27px 3px rgba(10, 87, 219, 0.523);
    font-family: acme;
  }
  #card-1-img {
    width: 45vw;
    height: 45vw;
    border-radius: 8px;
  }
  #card-1-h5 {
    width: 100%;
    height: auto;
    font-size: 3.5vw;
    text-align: center;
    margin: 1vw;
  }
  #card-1-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #card-1-p {
    font-family: montserrat;
    font-size: 2.3vw;
    margin: 2vw;
    text-align: center;
  }
  #card-1-btn {
    width: 20vw;
    height: 5vw;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #062b74;
    box-shadow: 2px 2px 0px #02112eba, -2px -2px 0px #052463b8;
    font-size: 2vw;
    margin: 10px;
    text-align: center;
  }
  #card-1-btn:active {
    box-shadow: inset 2px 2px 0px #02112e, inset -2px -2px 0px #0a45ba;
  }
  #card-2 {
    width: 85%;
    height: 45vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #092968;
    border-radius: 8px;
    box-shadow: inset 0px 0px 27px 3px rgba(10, 87, 219, 0.523);
    font-family: acme;
  }
  #card-2-img {
    width: 45vw;
    height: 45vw;
    border-radius: 8px;
  }
  #card-2-h5 {
    width: 100%;
    height: auto;
    font-size: 3.5vw;
    text-align: center;
    margin: 1vw;
  }
  #card-2-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #card-2-p {
    font-family: montserrat;
    font-size: 2.3vw;
    margin: 2vw;
    text-align: center;
  }
  #card-2-btn {
    width: 20vw;
    height: 5vw;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #062b74;
    box-shadow: 2px 2px 0px #02112eba, -2px -2px 0px #052463b8;
    font-size: 2vw;
    margin: 10px;
    text-align: center;
  }
  #card-2-btn:active {
    box-shadow: inset 2px 2px 0px #02112e, inset -2px -2px 0px #0a45ba;
  }
  #card-3 {
    width: 85%;
    height: 45vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #092968;
    border-radius: 8px;
    box-shadow: inset 0px 0px 27px 3px rgba(10, 87, 219, 0.523);
    font-family: acme;
  }
  #card-3-img {
    width: 45vw;
    height: 45vw;
    border-radius: 8px;
  }
  #card-3-h5 {
    width: 100%;
    height: auto;
    font-size: 3.5vw;
    text-align: center;
    margin: 1vw;
  }
  #card-3-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #card-3-p {
    font-family: montserrat;
    font-size: 2.3vw;
    margin: 2vw;
    text-align: center;
  }
  #card-3-btn {
    width: 20vw;
    height: 5vw;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #062b74;
    box-shadow: 2px 2px 0px #02112eba, -2px -2px 0px #052463b8;
    font-size: 2vw;
    margin: 10px;
    text-align: center;
  }
  #card-3-btn:active {
    box-shadow: inset 2px 2px 0px #02112e, inset -2px -2px 0px #0a45ba;
  }
  /* RCNT EVNT END */
  /* CLIENT TESTIMONIAL */
  #client-test {
    width: 100%;
    height: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: #06276a;
  }
  #client-test-text {
    width: 100%;
    text-align: center;
    font-size: 8vw;
    color: white;
    font-family: acme;
    margin: 5vw;
  }
  .carousel-1 {
    width: 80vw;
    height: 45vw;
    color: white;
  }
  #carousel-cell-1 {
    width: 100%;
    height: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #carousel-cell-1-h5 {
    font-size: 5vw;
    font-family: acme;
  }
  #carousel-cell-1-para {
    font-size: 2.5vw;
    font-family: montserrat;
    text-align: center;
  }
  #carousel-cell-2 {
    width: 100%;
    height: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #carousel-cell-2-h5 {
    font-size: 5vw;
    font-family: acme;
  }
  #carousel-cell-2-para {
    font-size: 2.5vw;
    font-family: montserrat;
    text-align: center;
  }
  #carousel-cell-3 {
    width: 100%;
    height: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #carousel-cell-3-h5 {
    font-size: 5vw;
    font-family: acme;
  }
  #carousel-cell-3-para {
    font-size: 2.5vw;
    font-family: montserrat;
    text-align: center;
  }
  /* CLIENT TESTIMONIAL END */
  /* MAJOR CUSTOMER */
  .major-customer {
    width: 100%;
    height: 90vw;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #major-customer-text {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  #major-customer-h5 {
    font-size: 8vw;
    font-family: acme;
    color: white;
  }
  .cust-carousel {
    width: 80vw;
    height: 40vw;
    margin-top: 50px;
    border-radius: 20px;
  }
  #comp-img,
  #comp-img2,
  #comp-img3,
  #comp-img4,
  #comp-img5,
  #comp-img6,
  #comp-img7,
  #comp-img8 {
    width: 30vw;
    height: 20vw;
  }
  #company-name-1 {
    width: 40vw;
    height: 40vw;
    background-color: rgb(193, 217, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }
  #company-name-2 {
    width: 40vw;
    height: 40vw;
    background-color: rgb(193, 217, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }
  #company-name-3 {
    width: 40vw;
    height: 40vw;
    background-color: rgb(193, 217, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }
  #company-name-4 {
    width: 40vw;
    height: 40vw;
    background-color: rgb(193, 217, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }
  #company-name-4 img {
    background-color: rgb(193, 217, 255);
  }
  #company-name-5 {
    width: 40vw;
    height: 40vw;
    background-color: rgb(193, 217, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }
  #company-name-6 {
    width: 40vw;
    height: 40vw;
    background-color: rgb(193, 217, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }
  #company-name-7 {
    width: 40vw;
    height: 40vw;
    background-color: rgb(193, 217, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }
  #company-name-8 {
    width: 40vw;
    height: 40vw;
    background-color: rgb(193, 217, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }
  /* MAJOR CUSTOMER END */
  /* FOOTER */
  #footer {
    width: 100%;
    height: auto;
    background-color: rgba(145, 187, 255, 0.875);
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-image: radial-gradient(#7daaff, #1c58bf);
  }
  #footer-1 {
    width: 100%;
    height: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #footer-1-img {
    width: 50vw;
    height: 20vw;
    margin-top: 20px;
  }
  #footer-mb {
    width: 100%;
    height: 55vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5vw;
  }
  #footer-1-sm {
    width: 100%;
    height: 6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  #footer-1-sm img {
    width: 5vw;
    height: 5vw;
  }
  #footer-title-mb {
    font-family: acme;
    font-weight: 800;
    font-size: 5vw;
    text-align: center;
  }
  #footer-text-mb {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: montserrat;
    line-height: 7vw;
    justify-content: center;
    font-size: 3.4vw;
  }
  #footer-title3-mb {
    font-family: acme;
    font-weight: 800;
    font-size: 5vw;
    margin-top: 2vw;
    text-align: center;
  }
  #footer-text3-mb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: montserrat;
    line-height: 6vw;
    font-size: 3.4vw;
  }
  #footer-2 {
    display: none;
  }
  #footer-3 {
    display: none;
  }
  #footer-4 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #footer-title4 {
    width: 100%;
    height: 6vw;
    font-size: 5vw;
    text-align: center;
    margin: 0;
  }
  #footer-text4 {
    margin-top: 4vw;
  }
  #address1 {
    width: 80%;
  }
  #address1 p {
    font-size: 2.5vw;
    line-height: 4vw;
    padding-left: 2vw;
  }
  #address1 img {
    width: 5vw;
    height: 5vw;
  }
  #contact-info {
    width: 80%;
  }
  #contact-info p {
    font-size: 2.5vw;
    line-height: 4vw;
    padding-left: 2vw;
  }
  #contact-info img {
    width: 4vw;
    height: 4vw;
  }
  #contact-info p a {
    text-decoration: none;
    color: black;
  }
  /* FOOTER END */
  /* COPYRIGHT */
  #copyright {
    width: 100%;
    height: 6vw;
    background-color: rgba(16, 67, 150, 0.76);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: montserrat;
  }
  #copyright span {
    font-size: 2vw;
  }
  /* COPYRIGHT END */
}
