* {
  box-sizing: border-box;
}
body {
  background-color: #05215a;
}
@font-face {
  font-family: "chemical";
  src: url("../Fonts/CHEMICAL.ttf") format("truetype");
}
@font-face {
  font-family: "plex-mono";
  src: url("../Fonts/IBM_Plex_Mono/IBMPlexMono-Medium.ttf") format("truetype");
}
@font-face {
  font-family: montserrat;
  src: url("../Fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}
@font-face {
  font-family: montserrat-bold;
  src: url("../Fonts/Montserrat/static/Montserrat-ExtraBold.ttf")
    format("truetype");
}
@font-face {
  font-family: acme;
  src: url("../Fonts/Acme/Acme-Regular.ttf") format("truetype");
}
@font-face {
  font-family: robot;
  src: url("../Fonts/Roboto_Mono/static/RobotoMono-SemiBold.ttf")
    format("truetype");
}

/* DISPLAY NONE */

#menu {
  display: none;
}
/* DISPLAY NONE END */

#navbar {
  width: 100%;
  height: 100px;
  background-color: whitesmoke;
}
#inno-supp {
  width: 100%;
  height: 40px;
  background-color: #05215a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
#inno-supp-span {
  font-family: chemical;
  font-size: 3vmin;
}
#navbar-main {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
#brand-logo {
  width: 200px;
  height: 60px;
}
#brand-logo-a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#brand-logo-img {
  width: 50px;
  height: 100%;
}
#brand-logo-txt {
  width: 140px;
  height: 100%;
}
#nav-elements {
  width: 60%;
  height: 100%;
  font-size: 1vmax;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
#nav-end {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
#gmail-icon {
  width: 30px;
  height: 30px;
}
#phone-icon {
  width: 30px;
  height: 30px;
}
