@media screen and (max-device-width: 600px) {
  * {
    box-sizing: border-box;
  }
  body {
    background-color: #05215a;
  }
  @font-face {
    font-family: chemical;
    src: url("../Fonts/CHEMICAL.ttf") format("truetype");
  }

  @font-face {
    font-family: montserrat;
    src: url("../Fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
      format("truetype");
  }
  @font-face {
    font-family: acme;
    src: url("../Fonts/Acme/Acme-Regular.ttf") format("truetype");
  }

  /* DISPLAY NONE */
  #nav-elements {
    display: none;
  }
  #footer-2 {
    display: none;
  }
  #footer-3 {
    display: none;
  }
  /* DISPLAY NONE END */

  /* LOADER */
  .preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 9999;
    background-image: radial-gradient(#0a3a9c, #05215a);
  }
  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    left: 45%;
    top: 48%;
    position: fixed;
    border: 3px solid;
    box-sizing: border-box;
    border-color: #00ff87 #00ff87 transparent transparent;
    animation: rotation 1s linear infinite;
  }
  /* LOADER END */

  /* NAVIGATION BAR */

  #navbar {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 5;
  }
  #inno-supp {
    width: 100%;
    height: 40px;
    background-color: #05215a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: chemical;
  }
  #inno-supp-span {
    font-size: 3vmin;
    font-family: chemical;
  }
  #navbar-main {
    width: 100%;
    height: 60px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  #brand-logo {
    width: 200px;
    height: 60px;
  }
  #brand-logo-a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }
  #brand-logo-img {
    width: 50px;
    height: 100%;
  }
  #brand-logo-txt {
    width: 140px;
    height: 100%;
  }
  #nav-end {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  #gmail-icon {
    width: 30px;
    height: 30px;
  }
  #phone-icon {
    width: 30px;
    height: 30px;
  }
  #menu {
    width: 50px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #menu-icon {
    width: 30px;
    height: 30px;
  }
  #menu-toggle {
    width: 100%;
    height: auto;
    display: none;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: space-evenly;
    line-height: 38px;
    z-index: 4;
    margin-top: 100px;
    font-family: montserrat;
    color: white;
    background-image: radial-gradient(#072f80, #03163b);
  }
  #product-mb-dropdown {
    width: 100%;
    height: 240px;
    background-color: #072f80;
    background-image: radial-gradient(#041c4b, #072f80);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: montserrat;
  }
  #product-list1,
  #product-list2,
  #product-list3 {
    width: 100%;
    text-align: center;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid white;
    padding: 10px;
  }
  #product-list1 a,
  #product-list2 a,
  #product-list3 a {
    text-decoration: none;
    color: white;
  }
  #product-list1 {
    border-top: 0.5px solid white;
  }
  #product-list1:active,
  #product-list2:active,
  #product-list3:active {
    background-color: #05215a;
  }
  /* NAVIGATION BAR END */
  /* CATEGORY SECTION */
  #category-heading {
    width: 100%;
    height: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #cat-img {
    width: 100%;
    height: 50vw;
    opacity: 0.4;
  }
  #image-cat {
    width: 100%;
    height: 50vw;
  }
  #category-text {
    width: 100%;
    height: 40vw;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: montserrat;
    gap: 5vw;
  }
  #category-span {
    width: 40vw;
    height: auto;
    font-size: 7vw;
    font-family: acme;
  }
  #span-cat-text {
    width: 60vw;
    height: 3vw;
    font-size: 2vw;
  }
  /* CATEGORY SECTION END */

  /* SEARCH BAR */
  #search-bar {
    width: 100%;
  height: 5vw;
  background-color: #c9dbff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  #input-tag {
    width: 70%;
    height: 5vw;
    color: rgba(0, 0, 0, 0.662);
    background-color: transparent;
    border: none;
    font-size: 2vw;
    -webkit-tap-highlight-color: transparent;
    outline: none;
  }
  ::placeholder {
    color: rgba(0, 0, 0, 0.662);
  }
  #search-icon {
    width: 2vw;
    height: 2vw;
    cursor: pointer;
  }
  /* SEARCH BAR END */
  /* MAJOR CUSTOMER */
  .major-customer {
    width: 100%;
    height: 90vw;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #major-customer-text {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  #major-customer-h5 {
    font-size: 8vw;
    font-family: acme;
    color: white;
  }
  .cust-carousel {
    width: 80vw;
    height: 40vw;
    margin-top: 50px;
    border-radius: 20px;
  }
  #comp-img,
  #comp-img2,
  #comp-img3,
  #comp-img4,
  #comp-img5,
  #comp-img6,
  #comp-img7,
  #comp-img8 {
    width: 30vw;
    height: 20vw;
  }
  #company-name-1 {
    width: 40vw;
    height: 40vw;
    background-color: rgb(193, 217, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }
  #company-name-2 {
    width: 40vw;
    height: 40vw;
    background-color: rgb(193, 217, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }
  #company-name-3 {
    width: 40vw;
    height: 40vw;
    background-color: rgb(193, 217, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }
  #company-name-4 {
    width: 40vw;
    height: 40vw;
    background-color: rgb(193, 217, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }
  #company-name-4 img {
    background-color: rgb(193, 217, 255);
  }
  #company-name-5 {
    width: 40vw;
    height: 40vw;
    background-color: rgb(193, 217, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }
  #company-name-6 {
    width: 40vw;
    height: 40vw;
    background-color: rgb(193, 217, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }
  #company-name-7 {
    width: 40vw;
    height: 40vw;
    background-color: rgb(193, 217, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }
  #company-name-8 {
    width: 40vw;
    height: 40vw;
    background-color: rgb(193, 217, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }
  /* MAJOR CUSTOMER END */
  /* FOOTER */
  #footer {
    width: 100%;
    height: auto;
    background-color: rgba(145, 187, 255, 0.875);
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-image: radial-gradient(#7daaff, #1c58bf);
  }
  #footer-1 {
    width: 100%;
    height: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #footer-1-img {
    width: 50vw;
    height: 20vw;
    margin-top: 20px;
  }
  #footer-mb {
    width: 100%;
    height: 55vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5vw;
  }
  #footer-1-sm {
    width: 100%;
    height: 6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  #footer-1-sm img {
    width: 5vw;
    height: 5vw;
  }
  #footer-title-mb {
    font-family: acme;
    font-weight: 800;
    font-size: 5vw;
    text-align: center;
  }
  #footer-text-mb {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: montserrat;
    line-height: 7vw;
    justify-content: center;
    font-size: 3.4vw;
  }
  #footer-title3-mb {
    font-family: acme;
    font-weight: 800;
    font-size: 5vw;
    margin-top: 2vw;
    text-align: center;
  }
  #footer-text3-mb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: montserrat;
    line-height: 6vw;
    font-size: 3.4vw;
  }
  #footer-2 {
    display: none;
  }
  #footer-3 {
    display: none;
  }
  #footer-4 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #footer-title4 {
    width: 100%;
    height: 6vw;
    font-size: 5vw;
    text-align: center;
    margin: 0;
  }
  #footer-text4 {
    margin-top: 4vw;
  }
  #address1 {
    width: 80%;
  }
  #address1 p {
    font-size: 2.5vw;
    line-height: 4vw;
    padding-left: 2vw;
  }
  #address1 img {
    width: 5vw;
    height: 5vw;
  }
  #address1 a {
    padding-top: 0;
  }
  #contact-info {
    width: 80%;
    margin-top: 0;
  }
  #contact-info p {
    font-size: 2.5vw;
    line-height: 4vw;
    padding-left: 2vw;
  }
  #contact-info img {
    width: 4vw;
    height: 4vw;
  }
  #contact-info p a {
    text-decoration: none;
    color: black;
  }
  /* FOOTER END */
  /* COPYRIGHT */
  #copyright {
    width: 100%;
    height: 6vw;
    background-color: rgba(16, 67, 150, 0.76);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: montserrat;
  }
  #copyright span {
    font-size: 2vw;
  }
  /* COPYRIGHT END */
}
